/* CSS file */

@font-face {
	src: local("Arial");
    fontFamily: "ArialEmbedded";
}
@font-face {
	src: local("Arial");
    fontFamily: "ArialEmbedded";
    font-weight:bold;
}
@font-face {
	src: local("Arial");
    fontFamily: "ArialEmbedded";
    font-style:italic;
}
@font-face {
	src: local("Arial");
    fontFamily: "ArialEmbedded";
    font-weight:bold;
    font-style:italic;
}

Label {
	fontFamily: ArialEmbedded;
}

LinkBar {
	fontFamily: ArialEmbedded;
	font-size:12;
	color:#28b1ff;
	disabled-color:#666666;
}
HSlider {
	trackSkin:Embed(source="images/x.png");
	track-highlight-skin:Embed(source="images/trackHighlight.gif");
	thumb-skin:Embed(source="images/trackThumb.gif");
	thumb-offset:5;
}

ScrollBar {
    track-skin: Embed(source='images/scrolltrack.png',
               		scaleGridLeft="2", scaleGridTop="6", 
               		scaleGridRight="7", scaleGridBottom="9");
    up-arrow-skin: ClassReference("undefined");
    down-arrow-skin: ClassReference("undefined");
    thumb-up-skin: Embed(source='images/thumb.png',
               		scaleGridLeft="3", scaleGridTop="3", 
               		scaleGridRight="10", scaleGridBottom="11");
    thumb-over-skin: Embed(source='images/thumb.png',
               		scaleGridLeft="3", scaleGridTop="3", 
               		scaleGridRight="10", scaleGridBottom="11");
    thumb-down-skin: Embed(source='images/thumb.png',
               		scaleGridLeft="3", scaleGridTop="3", 
               		scaleGridRight="10", scaleGridBottom="11");
}
ToolTip {
    backgroundColor: #222222;
    cornerRadius: 0;
    color: #ffffff;
}
htmlText.a {
	color:#ffffff;
}